<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="{{ AUTHOR }}" />
        <meta name="description" content="{{ SITEDESCRIPTION }}" />
        <title>{{ SITENAME }}</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <script src="https://kit.fontawesome.com/39e34b83e1.js" crossorigin="anonymous" async></script>
        <script src="/js/hot_reloader.js" async></script>
    </head>
    <body>
        {% include "_header.html" indent content -%}
        {% block content %}{% endblock %}
        {% include "_footer.html" indent content -%}
        {% include "_analytics.html" indent content -%}
    </body>
</html>
