{% extends "_base.html" %}
{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="box has-background-primary-95">
                <ul>
                    <li><a href="/pages/cv.html">Professional career</a></li>
                    <li><a href="/pages/about-me.html">About me</a></li>
                    <li><a href="/pages/my-tastes.html">My Tastes</a></li>
                    <li><a href="/pages/publications.html">Publications</a></li>
                </ul>
            </div>
        </div>
        <div class="column is-one-fifth">
            {% include "_profile.html" %}
        </div>
    </div>
</section>
{% endblock %}
