{% extends "_base.html" %}
{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="box">
                {% include "_includes/career-profile.html" %}
                {% include "_includes/experience.html" %}
                {% include "_includes/education.html" %}
                {% include "_includes/projects.html" %}
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="box has-background-primary">
                {% include "_includes/profile.html" %}
                {% include "_includes/interests.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
