{% extends "_base.html" %}
{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="box">
                {% include "includes/_career-profile.html" %}
                {% include "includes/_experience.html" %}
                {% include "includes/_education.html" %}
                {% include "includes/_projects.html" %}
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="box has-background-primary">
                {% include "includes/_profile.html" %}
                {% include "includes/_interests.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
